@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

#wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid red;

  @include border-radius;
  @include box-shadow;

  background-image: image-url("logo.jpg")
}

@import "icons/*.png";
@include all-icons-sprites;
